body { 
background-image: linear-gradient(pink, purple);
padding: 0;
margin: 0;
}

li,
p {
    font-weight: 400;
    font-style: normal;
    border: none;
    list-style-type: none; 
    font-family: Cardo;
    font-size: 20px;
   line-height: 27px;
   text-align: justify;
}

li {
  padding: 10px;
   border: solid 1px;
  }
  
  h4 {
font-family: Roboto;
font-size: 23px;
font-weight: 400;
line-height: 36px;
text-align: center;
}

a {
  text-decoration: none;
  color: black;
 }

 a:hover {
  color: white;
 }
 
h3 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  margin-top: 197px;
 }
 
/* Home Page */
.mainPhotoOfHomePage {
position: absolute;
width: 100vw;
height: 100vh;
padding: 0;
margin: 0;
transform: translateY(-109px);
z-index: -1;
}

.sourceOfMainPhotoOnHomePage {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}

.listHeaderForHomePage {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.listOfLinksOnHomePage {
  display: flex;
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  justify-content: space-between;
}

.navLink:hover {
  color: white;
}

.firstExtraContainerOfLinksHomePage {
  display: flex;
  justify-content: start;
}
.secondExtraContainerOfLinksHomePage {
  display: flex;
  justify-content: end;
}
/* End - Конец */

/* Pages "Anime" "Dunhua" "Manhwa" */

.bodyForPagesAnimeDunhuaManhwa {
  margin: 0;
  margin-left: 64px;
  margin-right: 64px;
}

.itemOfLinksOnHomePage {
  margin: 0 16px; 
  list-style-type: none;
  font-size: 25px;
}

.nameOfPageAnimeDunhuaManhwa {
  margin-top: 100px;
    margin-left: 64px;
    margin-bottom: 65px;
    font-family: Roboto;
    font-size: 72px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
  }

  .welcomeSign {
    margin-bottom: 64px;
    font-family: Cardo;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    border: 1px solid;
    border-radius: 9999px;
    padding: 5px 25px;
    color: black;
  }

  .containerForThreePhotosOnPage {
    display: flex;
  align-items: start;
     list-style-type: none;
    margin-bottom: 113px;
  }
  
  .containerForThreePhotosOnPage li:nth-child(1) {
    margin-top: 201px;
    margin-right: 24px;
  }
  
  .containerForThreePhotosOnPage li:nth-child(2) {
    margin-right: 24px;
  }
    
  nav {
    margin-bottom: 197px;
  }

  .navigation ul li,
  .navigation h2,
  .navigation {
    text-align: center;
    list-style-type: none;
    font-family: Roboto;
    font-size: 51px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
    }

  .content li {
    border: none;
    margin: 0 auto;
  }

  .listOfFeatures {
    display: flex;
  }
  
  .titleFeatures {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
  }

  .listOfFeatures Li:first-child, 
  .listOfFeatures Li:nth-child(2) {
    margin-right: 73px;
  }
  
    .listOfFeatures Li:last-child {
    margin-left: auto;
  }

  .titleFavorites {
    margin-left: 96px;
     text-align: left;
  }
  
  .textOfTitleWhatIsIt {
    text-align: center;
    font-size: 10vh;
  }

  .textOfTitleHistory {
    width: 1000px;
transform: translateX(40%);
  }

  .listOfGenresDunhua li,
  .listOfGenres li {
    flex-basis: 300px;
  }
   
   .listOfGenres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     flex-grow: 1;
     gap: 15px;
    }

   .listOfGenresDunhua {
    display: flex;
    gap: 15px;
     justify-content: center;
   }

   .listOfFavorites {
     font-family: Cardo;
     font-size: 17px;
     font-weight: 400;
     line-height: 25px;
   list-style-type: decimal;
  }
   
   .listOfSources {
     font-family: Cardo;
     font-size: 17px;
     font-weight: 400;
     line-height: 25px;
  }

  .listOfSources li {
    list-style-type: upper-roman;
    border: none;
  }

   .textOfContacts {
      margin: 64px;
      height: 100vh;
    }  
/* End - Конец */

/* Carousel - Карусель */
.photoFromCarousel {
   width: 750px; 
}

figure {
   margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
}

figcaption {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-top: 10px;
}

.containterForButtonsOfСarouselAndTitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 127px;
  
}

.containerOfButtonsForСarousel {
  margin-bottom: 70px;
  margin-left: auto;
}

.rightButtonForCarousel {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
}

  .leftButtonForCarousel {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
  }
  
  .ArrowSvgForCarousel {
     border: 1px solid black;
    border-radius: 50% 50%;
  }

/* End - Конец */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid black;
    border-radius: 50% 50%;
    background-color: transparent; 
  cursor: pointer;
  transform: rotate(-90deg);
}

#myBtn:hover {
  background-color: #555;
}